#parent1{
    background-image:url(clock.png);
    position:relative;
    background-repeat: no-repeat;
    background-size:100%;
    background-position:center;
     height:50vw;
     width: 50vw;
} 
#h{
    position:absolute;
    top:24%;
    left:50%;
    width:2%;
    height:25%;
    background-color:black;
    border-radius: 10px;
    transform-origin: bottom;
}
#min{ 
     position:absolute;
     top:9%;
     left:50%;
     width:1.5%;
     height:40%;
     background-color: black;
     border-radius: 10px;
     transform-origin: bottom;
}
#sec{
     position:absolute;
    top:4%;
    left:51%;
    width:0.5%;
    height:45%;
    background-color:black;
    transform-origin: bottom;
}